# python virtual environment
venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode config
.vscode

# dataset folder
data/*
!data/.gitkeep

# test data folder
test_images/*
!test_images/.gitkeep
!test_images/anger.jpg
!test_images/happy.jpg
!test_images/sad.jpg
!test_images/surprise.jpg

# trained models folder
trained_models/*
!trained_models/.gitkeep
